trigger:
  branches:
    include:
      - main

pr:
  branches:
    include:
      - main

pool:
  vmImage: "ubuntu-latest"

strategy:
  matrix:
    Node18:
      nodeVersion: "18"
    Node20:
      nodeVersion: "20"
    Node22:
      nodeVersion: "22"

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: $(nodeVersion)
    displayName: "Use Node.js $(nodeVersion)"

  - script: npm ci
    displayName: "Install dependencies"

  - script: npm run build
    displayName: "Build & Typecheck"

  - script: npm audit --audit-level=high
    displayName: "Security audit"
